<main>
    <button id="buttonsDiv" (click)="navToHome()"></button>
    <form (ngSubmit) = "send()"> 
        <div>
            @if(isAlreadylogged){
                <select [(ngModel)] ="selectedSearch" name="searchType">
                    <option value="titoli">Titoli</option>
                    <option value="utenti">Utenti</option>
                </select>
            }
            @if(selectedSearch == "titoli" || !isAlreadylogged){
                <input type="text" id="titolo" name="titolo" [(ngModel)]="titolo" placeholder="Titolo opera">
            } @else if (isAlreadylogged) {
                <input type="text" id="utente" name="utente" [(ngModel)]="utente" placeholder="Utente">
            }
            <button>🔍</button>
        </div> 
    </form>
    <div id="authDiv">
        @if (!isinLoginPage) {
            @if (isAlreadylogged) {
                <button routerLink="/auth/logout">LogOut</button>
                <button routerLink="/user" class="profile-Button"></button>
            }
            @else {
                <button routerLink="/auth/login">Login</button>
                <button routerLink="/auth/register">Register</button>
            }
        }
    </div>
</main>
