
@if (films.length > 0) {
<div class="utente-list-container-with-title">
    <div class="category-title"><p>FILM VISTI</p></div>
    <app-film-list [films] = 'films'></app-film-list>
</div>
}

@if (libri.length > 0) {
<div class="utente-list-container-with-title">
    <div class="category-title"><p>LIBRI LETTI</p></div>
    <app-libro-list [libri] = 'libri'></app-libro-list>
</div>
}

@if (videogiochi.length > 0) {
<div class="utente-list-container-with-title">
    <div class="category-title"><p>VIDEOGIOCHI GIOCATI</p></div>
    <app-videogioco-list [videogiochi] = 'videogiochi'></app-videogioco-list>
</div>
}

@if(videogiochiGiocati.length > 0 || libriLetti.length > 0 || filmVisti.length > 0){
    <app-user-recensioni-list [filmRecensiti]="filmRecensiti" [videogiochiRecensiti]="videogiochiRecensiti" [libriRecensiti]="libriRecensiti" ></app-user-recensioni-list>
}

