<div class="details">
    <img class="details-img" [src]="videogioco.imgUrl">
    <div class="details-text">
        <h1>{{videogioco.titolo}}</h1>
        <article>
            <p><b>Descrizione:</b><br>{{videogioco.descrizione}}</p>

            <p><b>Data di pubblicazione:</b><br>{{videogioco.dataDiPubblicazione}}</p>

            <p><b>Ore storia principale:</b> <br> {{videogioco.oreStoriaPrincipale}}</p>

            <p><b>Casa di produzione:</b> <br>{{videogioco.casaDiProduzione.nome}}</p>
            <p><b>Casa di pubblicazione:</b> <br>{{videogioco.casaDiPubblicazione.nome}}</p>
        </article>
        <div class="voto-Display">
            <div>Voto: {{videogioco.voto}}</div>
            <div class="progress-bar-container">

                <div class="progress-bar-fill" [style.width.%]="videogioco.voto"
                    [style.backgroundColor]="getBarColor()">
                </div>
            </div>
        </div>
        
         <div class="tag-list">
            @if(tags){
                @for(tag of tags; track tag.tagId){
                    <div class="checkbox-wrapper">
                        <input class="checkboxtag" type="checkbox" [id]="'tag-' + tag.tagId" disabled/>
                        <label class="checkbox-button" [for]="'tag-' + tag.tagId">
                            {{ tag.nome }}
                        </label>
                    </div>
                }
            }
            </div>
        @if(isAlreadylogged && !videogiocoGiocato){
        <div>
            <button (click)="registerVideogiocoGiocato()" class="Add-To-viewd-button">Segna come giocato</button>
        </div>
        }
        @if(isAlreadylogged && videogiocoGiocato){
        <div>
            <button (click)="deleteVideogiocoGiocato()" class="Add-To-viewd-button">Rimuovi dai videogiochi a cui hai
                giocato</button>
        </div>
        }

        @if(isAlreadylogged && videogiocoGiocato && !videogiocoGiocato.recensione){
        <app-add-recensione [operaId]='videogioco.id' [type]='type'
            (addedRecensione)="addNewRecensione($event)"></app-add-recensione>
        }
    </div>

</div>


@if(isAlreadylogged && videogiocoGiocato && videogiocoGiocato.recensione){
<h2>La tua recensione</h2>
<app-recensione-card [recensione]='videogiocoGiocato.recensione'></app-recensione-card>
}

@if(recensioni.length){
<div>
    <h2>Recensioni dei nostri utenti</h2>
    <app-recensioni-list [recensioni]="recensioni"></app-recensioni-list>
</div>
}

@if(recensioni.length >0){
<div class="recensioni-details-container">
    @if(isAlreadylogged && videogiocoGiocato && videogiocoGiocato.recensione){
    <h2>La tua recensione</h2>
    <app-recensione-card [recensione]='videogiocoGiocato.recensione'></app-recensione-card>
    }
    <div>
        <h2>Recensioni dei nostri utenti</h2>
        <app-recensioni-list [recensioni]="recensioni"></app-recensioni-list>
    </div>
</div>
}