<div class="list-container">
@if (isLibriVuoti()) {
    <p> Nono sono stati trovati libri</p>
}

@for (libro of libri; track libro.id) {
    <div class="card">
        <a [routerLink]="['/libro-dettagli', libro.id]" [state]="{ libro: libro }">
            <h3 class="type-label">Libro</h3>
            <img [src]="libro.imgUrl" class="immagine">
            <div class="title_div">
                <h2 class="titolo-libro">{{ libro.titolo }}</h2>
                <p class="voto">⭐ Voto: {{ libro.voto }}</p>
            </div>
        </a>
        
    </div>
}
</div>
