<form id="search-form" #f="ngForm" (ngSubmit)="sendForm(f)">
    <div>
        <select name="tipoMedia" [(ngModel)]="searchModel.tipoMedia">
            <option value="tutti">tutti</option>
            <option value="libri">libri</option>
            <option value="film">film</option>
            <option value="videogiochi">videogiochi</option>
        </select>
    </div>
    <div>
        <input type="text" name = "titolo" placeholder="Inserisci titolo" [(ngModel)]="searchModel.titolo">
    </div>
    <div>
        <input type="number" name = "numeroPagine" placeholder="Inserisci massimo numero di pagine" [(ngModel)]="searchModel.numeroPagine">
    </div>
    <div>
        <input type="text" name = "autore" placeholder="Inserisci nome autore" [(ngModel)]="searchModel.autoreNome">
    </div>
    <div>
        <input type="text" name = "casaEditriceNome" placeholder="Inserisci nome casa Editrice" [(ngModel)]="searchModel.casaEditriceNome">  
    </div>
    <div>
        <input type="text" name = "casaDiProduzione" placeholder="Inserisci nome della casa di produzione" [(ngModel)]="searchModel.casaDiProduzione">
    </div>
    <div>
        <input type="text" name = "casaDiPubblicazione" placeholder="Inserisci nome della casa di pubblicazione" [(ngModel)]="searchModel.casaDiPubblicazione">
    </div>
    <div>
        <input type="text" name = "minData" placeholder="Inserisci la data minima" [(ngModel)]="searchModel.minData">
    </div>
    <div>
        <input type="text" name = "maxData" placeholder="Inserisci la data massima" [(ngModel)]="searchModel.maxData">
    </div>
    <div>
        <input type="text" name = "minVoto" placeholder="Inserisci il voto minimo" [(ngModel)]="searchModel.minVoto">
    </div>
    <div>
        <input type="text" name = "maxVoto" placeholder="Inserisci il voto massimo" [(ngModel)]="searchModel.maxVoto">
    </div>
    <div>
       <input type="text" name = "minOreDiGiocoStoriaPrincipale" placeholder="Inserisci le ore minime di storia principale" [(ngModel)]="searchModel.minOreDiGiocoStoriaPrincipale">
    </div>
    <div>
        <input type="text" name = "maxOreDiGiocoStoriaPrincipale" placeholder="Inserisci le ore massime di storia principale" [(ngModel)]="searchModel.maxOreDiGiocoStoriaPrincipale">
    </div>
    <div><button>submit</button></div>
</form>