<div class="recensioni-container">
    @for(libroLetto of libriRecensiti; track libroLetto.libroLettoId){
    <div class="user-recensione-card">
        <div class="rec-img">
            <img src='{{libroLetto.libro.imgUrl}}' class="rec-img">
        </div>
        <div class='recensione-title-div'>
            <p class='titolo-scroll'>Libro: {{libroLetto.libro.titolo}} </p>
            <div class="card-voto-Display">
                    <div class="voto-scroll">⭐Voto: {{libroLetto.recensione.voto}}</div>
                    <div class="progress-bar-container">
                        <div class="progress-bar-fill" [style.width.%]="libroLetto.recensione.voto"
                            [style.backgroundColor]="getBarColor(libroLetto.recensione.voto)">
                        </div>
                    </div>
                </div>
        </div>

        @if(libroLetto.recensione.recensione && libroLetto.recensione.recensione.trim() != ''){
        <div class="descrizione-rec-div">
            <p>La tua recensione:</p>
            <p>{{libroLetto.recensione.recensione}}</p>
        </div>
        }
    </div>
    }

    @for(videogiocoGiocato of videogiochiRecensiti; track videogiocoGiocato.videogiocoGiocatoId){
    <div class="user-recensione-card">
        <div class="rec-img">
            <img src='{{videogiocoGiocato.videogioco.imgUrl}}' class="rec-img">
        </div>
        <div class='recensione-title-div'>
            <p class='titolo-scroll'>Videogioco: {{videogiocoGiocato.videogioco.titolo}} </p>
            <div class="card-voto-Display">
                    <div class="voto-scroll">⭐Voto: {{videogiocoGiocato.recensione.voto}}</div>
                    <div class="progress-bar-container">
                        <div class="progress-bar-fill" [style.width.%]="videogiocoGiocato.recensione.voto"
                            [style.backgroundColor]="getBarColor(videogiocoGiocato.recensione.voto)">
                        </div>
                    </div>
                </div>
        </div>
        @if(videogiocoGiocato.recensione.recensione && videogiocoGiocato.recensione.recensione.trim() != ''){
        <div class="descrizione-rec-div">
            <p>La tua recensione:</p>
            <p>{{videogiocoGiocato.recensione.recensione}}</p>
        </div>
        }
    </div>
    }

    @for(filmVisto of filmRecensiti; track filmVisto.filmVistoId){
    <div class="user-recensione-card">
        <div class="rec-img">
            <img src='{{filmVisto.film.imgUrl}}' class="rec-img">
        </div>
        <div class='recensione-title-div'>
            <p class='titolo-scroll'>Film: {{filmVisto.film.titolo}} </p>
            <div class="card-voto-Display">
                    <div class="voto-scroll">⭐Voto: {{filmVisto.recensione.voto}}</div>
                    <div class="progress-bar-container">
                        <div class="progress-bar-fill" [style.width.%]="filmVisto.recensione.voto"
                            [style.backgroundColor]="getBarColor(filmVisto.recensione.voto)">
                        </div>
                    </div>
                </div>
        </div>
        @if(filmVisto.recensione.recensione && filmVisto.recensione.recensione.trim() != ''){
        <div class="descrizione-rec-div">
            <p>La tua recensione:</p>
            <p>{{filmVisto.recensione.recensione}}</p>
        </div>
        }
    </div>
    }

</div>
