<div class="details">
    <img class="details-img" [src]="libro.imgUrl">
    <div class="details-text">
        <h1>{{libro.titolo}}</h1>
        <p>Descrizione:</p>
        <p>{{libro.descrizione}}</p>

        <p>Data di pubblicazione:</p>
        <p>{{libro.dataDiPubblicazione}}</p>

        <p>Numero di pagine: {{libro.numeroPagine}}</p>

        <p>Casa Editrice: {{libro.casaEditrice.nome}}</p>

        <div>
            @if(tags){
                @for(tag of tags; track tag.tagId){
                    <div class="checkbox-wrapper">
                        <input class="checkboxtag" type="checkbox" [id]="'tag-' + tag.tagId"/>
                        <label class="checkbox-button" [for]="'tag-' + tag.tagId">
                            {{ tag.nome }}
                        </label>
                    </div>
                }
            }
        </div>

        <div class="voto-Display">
            <div>Voto: {{libro.voto}}</div>
            <div class="progress-bar-container">
                <div class="progress-bar-fill" [style.width.%]="libro.voto" [style.backgroundColor]="getBarColor()">
                </div>
            </div>
        </div>
        @if(isAlreadylogged && !libroLetto){
        <div>
            <button (click)="registerLibroLetto()" class="Add-To-viewd-button">Segna come letto</button>
        </div>
        }

        @if(isAlreadylogged && libroLetto){
        <div>
            <button (click)="deleteLibroLetto()" class="Add-To-viewd-button">Rimuovi dai libri letti</button>
        </div>
        }
        @if(isAlreadylogged && libroLetto && !libroLetto.recensione){
        <app-add-recensione [operaId]='libro.id' [type]='type'
            (addedRecensione)="addNewRecensione($event)"></app-add-recensione>
        }
    </div>
</div>


@if(recensioni.length >0){
<div class="recensioni-details-container">
    @if(isAlreadylogged && libroLetto && libroLetto.recensione){
    <h2>La tua recensione</h2>
    <app-recensione-card [recensione]='libroLetto.recensione'></app-recensione-card>
    }
    <div>
        <h2>Recensioni dei nostri utenti</h2>
        <app-recensioni-list [recensioni]="recensioni"></app-recensioni-list>
    </div>
</div>

}