main{
    height: 82.6vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#advSe{
    padding:1em;
    height: 100%;
    background-color: rgba(170, 170, 170, 0.25);
    grid-column: 1;
}
.scroll-container {
    overflow: hidden;
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    grid-column: 2;
}



