.videogiochi-list-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
}

app-product-card-component {
  width: 100%;
  max-width: 300px;
}

