
<div>
   <Form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input type="text" id="nome" placeholder="Nome utente" minlength="3" maxlength="30" formControlName="name">
    <input type="email" id="email" placeholder="Email" formControlName="email">
    <input type="password" id="password" placeholder="password" minlength="5" maxlength="30" formControlName="password">
    <button>cliccami</button>
        <a routerLink="/auth/login">Hai già un account? Esegui il login</a>

</Form> 
</div>
