<div class="details">
    <img class="details-img" [src]="film.imgUrl">
    <div class="details-text">
        <h1>{{film.titolo}}</h1>
        <article>
            <p><b>Descrizione: </b> <br>{{film.descrizione}}</p>
            <p><b>Data di pubblicazione:</b> <br> {{film.dataDiPubblicazione}}</p>
            <p><b>Durata:</b> <br>{{film.durata}}</p>

            <p><b>Casa di produzione:</b> <br>{{film.casaDiProduzione.nome}}</p>
            <p><b>Casa di pubblicazione:</b> <br> {{film.casaDiPubblicazione.nome}}</p>
        </article>
        
        <div class="voto-Display">
            <div>Voto: {{film.voto}}</div>
            <div class="progress-bar-container">

                <div class="progress-bar-fill" [style.width.%]="film.voto" [style.backgroundColor]="getBarColor()">
                </div>
            </div>
        </div>

        <div class="tag-list">
            @if(tags){
            @for(tag of tags; track tag.tagId){
            <div class="checkbox-wrapper">
                <input class="checkboxtag" type="checkbox" [id]="'tag-' + tag.tagId" disabled  />
                <label class="checkbox-button" [for]="'tag-' + tag.tagId">
                    {{ tag.nome }}
                </label>
            </div>
            }
            }
        </div>
        <div class="recensione-Area">
            @if(isAlreadylogged && !filmVisto){
            <div>
                <button class="Add-To-viewd-button" (click)="registerFilmVisto()">Segna come visto</button>
            </div>
            }
            @if(isAlreadylogged && filmVisto){
            <div>
                <button class="Add-To-viewd-button" (click)="deleteFilmVisto()">Rimuovi dai film visti</button>
            </div>
            }
            @if(isAlreadylogged && filmVisto && !filmVisto.recensione){
            <app-add-recensione [operaId]='film.id' [type]='type'
                (addedRecensione)="addNewRecensione($event)"></app-add-recensione>
            }

        </div>

    </div>

</div>
<!-- @if(){  TODO AGGIUNGE IL PULSANTE AGGIUNGI RECENSIONE SE SEI LOGGATO
    <div>

    </div>
} -->



@if(recensioni.length >0){
<div class="recensioni-details-container">
    @if(isAlreadylogged && filmVisto && filmVisto.recensione){
    <h2>La tua recensione</h2>
    <app-recensione-card [recensione]='filmVisto.recensione'></app-recensione-card>
    }
    <div>
        <h2>Recensioni dei nostri utenti</h2>
        <app-recensioni-list [recensioni]="recensioni"></app-recensioni-list>
    </div>
</div>

}


@if(isAlreadylogged && filmVisto && filmVisto.recensione){
<h2>La tua recensione</h2>
<app-recensione-card [recensione]='filmVisto.recensione'></app-recensione-card>
}

@if(recensioni.length){
<div>
    <h2>Recensioni dei nostri utenti</h2>
    <app-recensioni-list [recensioni]="recensioni"></app-recensioni-list>
</div>
}